In [154]:
import pandas as pd
from pathlib import Path
import sqlite3
import time
cursor = None

Establish connection

In [155]:
try:
    path_db = Path.cwd() / "db" / "mydb.db"
    sqliteConnection = sqlite3.connect(path_db)
    cursor = sqliteConnection.cursor()
    query = "select sqlite_version();"
    cursor.execute(query)
    print(f"SQLite Version is {cursor.fetchall()}")
# Handle errors
except sqlite3.Error as error:
    print('Error occured - ', error)

SQLite Version is [('3.36.0',)]

Read datasets

In [156]:
path_categories = Path.cwd() / "datasets" / "raw" / "categories.csv"
df = pd.read_csv(path_categories, sep=';', on_bad_lines='skip')
df.head(4)

,category_id,category_id_lvl_0,category_id_lvl_1,category_id_lvl_2,category_title_lvl_0,category_title_lvl_1,category_title_lvl_2
0,101,100,101.0,NaN,Politics & Nonprofits,Nonprofits & Activism,NaN
1,102,100,102.0,NaN,Politics & Nonprofits,News & Politics,NaN
2,201,200,201.0,NaN,Cinema,Film & Animation,NaN
3,202,200,202.0,NaN,Cinema,Trailers,NaN

In [157]:
query = "CREATE DATABASE SecondTask;"
try:
    cursor.execute(query)
except:
    print("except")
    pass

except

Create table "Categories"

In [158]:
query = """
CREATE TABLE SecondTask.Categories (
	category_id INTEGER PRIMARY KEY,
   	category_id_lvl_0 INTEGER NOT NULL,
	category_id_lvl_1 INTEGER DEFAULT NULL,
	category_id_lvl_2 INTEGER DEFAULT NULL,
	category_title_lvl_0 TEXT NOT NULL,
	category_title_lvl_1 TEXT DEFAULT NULL,
	category_title_lvl_2 TEXT  DEFAULT NULL
)"""
try:
    cursor.execute(query)
except:
    print("except")
    pass

except

Fills the Categories

In [159]:

query = """
INSERT INTO Categories(category_id,category_id_lvl_0,category_id_lvl_1,category_id_lvl_2,category_title_lvl_0,category_title_lvl_1,category_title_lvl_2)
VALUES(?,?,?,?,?,?,?)"""
for i, row in df.iterrows():
    print("done")
    data = (row["category_id"], row["category_id_lvl_0"], row["category_id_lvl_1"], row["category_id_lvl_2"],
            row["category_title_lvl_0"], row["category_title_lvl_1"], row["category_title_lvl_2"])
    cursor.execute(query, data)
    time.sleep(0.4)

done

OperationalError: database is locked

Number of unique records

In [160]:
query = "SELECT COUNT(*) FROM Categories;"
cursor.execute(query)
print(cursor.fetchone())

(0,)

Number of categories with the symbol & in the title;

In [161]:
query = "SELECT COUNT(*) FROM Categories WHERE category_title_lvl_2 REGEXP '&';"
cursor.execute(query)
print(cursor.fetchone())

OperationalError: no such function: REGEXP

Number or level 1 and level 2 categories are there for each level 0 category.

List all categories that have only level 0 category and no subcategories;

Close cursor

In [162]:
cursor.close()